.box1 {
    width: 60%;
    height: 80%;
    background-color: white;
    float: left;
}

.box2 {
    width: 40%;
    height: 90%;
    background-color: white;
    float: right;
}

.box3 {
    width: 60%;
    height: 20%;
    /*background-color: white;*/
    /*float: left;*/
}

.sceglieretaglia {
    width: 47%;
    height: 4%;
    background-color: yellow;
    float: right;
    margin: 23px 30px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
}

.buttonCompra {
    color: white;
    margin: 5px 0px 0px 76px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    height: 40%;
    background-color: red;
    padding: 5px;
    font-size: 20px;
    width: 50%;
    height: 40%;
}

.buttonEmail {
    width: 80%;
    height: 45%;
    background-color: cornflowerblue;
    color: white;
    margin: 45px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;
    text-align: center;
}

h2 {
    font-size: large;
    color: darkred;
    margin: 0px 0px 0px 6px;
}

h3 {
    font-size: 14px;
    color: black;
    margin: 6px 0px 6px 6px;
    font-weight: bold;
}

.thumbnail {
    width: 100%;
    height: 476px;
    background-color: white;
    display: block;
}

img {
    vertical-align: middle;
}

ul {
    padding-left: 23px;
    font-size: 12px;
}

@media screen and (max-width: 1199px) {

    .buttonCompra {
        margin: 6px 0px 0px 59px;
    }

    .buttonEmail {
        margin: 49px 0px 0px 19px;
    }

    .sceglieretaglia {
        margin: 29px 38px 0px 0px;
        font-size: 108%
    }

    .thumbnail img {
        display: block;
        width: 90%;
        max-height: 107%;
    }
}

@media screen and (max-width: 991px) /*, (max-width: 630px) and (max-width: 699px) and (min-width: 520px)*/
{

    h2 {
        font-size: medium;
    }

    .buttonEmail {
        margin: 38px 0px 0px 19px;
    }

    .sceglieretaglia {
        margin: 10px 24px 0px 0px;
    }

    .thumbnail img {
        display: block;
        width: 101%;
        max-height: 106%;
    }
}

@media screen and (max-width: 767px) {

    .buttonCompra {
        margin: 6px 0px 0px 97px;
    }

    .buttonEmail {
        width: 70%;
        height: 40%;
        margin: 53px 0px 0px 50px;
    }

    .sceglieretaglia {
        width: 42%;
        height: 4%;
        margin: 31px 80px 0px 0px;
    }

    .thumbnail img {
        display: block;
        width: 76%;
        max-height: 107%;
        margin: 0px 0px 0px 63px;
    }

    ul {
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {

    .buttonCompra {
        margin: 6px 0px 0px 97px;
    }

    .buttonEmail {
        width: 70%;
        height: 40%;
        margin: 53px 0px 0px 16px;
    }

    .sceglieretaglia {
        width: 42%;
        height: 4%;
        margin: 33px 65px 0px 0px;
    }

    .thumbnail img {
        display: block;
        width: 98%;
        max-height: 107%;
        margin: 0px 0px 0px 2px;
    }
}

@media screen and (max-width: 400px) {

    .buttonCompra {
        margin: 6px 0px 0px 97px;
    }

    .buttonEmail {
        width: 91%;
        height: 50%;
        margin: 32px 0px 0px 7px;
    }

    .sceglieretaglia {
        width: 54%;
        height: 5%;
        margin: -57px 138px 0px 0px;
    }

    .thumbnail img {
        display: block;
        width: 98%;
        max-height: 107%;
        margin: 0px 0px 0px 2px;
    }

    .thumbnail {
        height: 454px;
    }

    ul {
        font-size: 11px;
    }
}
