<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <!--Solo quando si usa in locale commentare il codice dell' indrizzamento all' htpps. in quanto da errore-->
  <system.webServer>

    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>

    <!--QUANDO LA PUBBLICHIAMO: Gestisce le pagine con errore 404 e le indirizza nella pagina www.sciaxe.it/errore-404.aspx-->
    <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/errore-404.aspx" responseMode="Redirect" />
    </httpErrors>

    <!--ATTENZIONE ATTENZIONE ATTENZIONE ATTENZIONE ATTENZIONE
    QUANDO SIAMO IN LOCALE: Gestisce le pagine con errore 404 e le indirizza nella pagina /errore-404.aspx o errore-404.html-->
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/errore-404.aspx" responseMode="Redirect" />
    </httpErrors>-->

  </system.webServer>

</configuration>

